# hehehehehehehhe
# without this the render instance likes to shut down
name: Wake Up Call
on:
  schedule:
    - cron: '*/10 * * * *' 
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render
        run: curl -s -f --connect-timeout 60 --max-time 60 https://backend.alass.dev/health || echo "Still booting..."